<!DOCTYPE html>
<html>
  <head>
    <title>
      Server Error
    </title>
  </head>
  <body>
    <div id="exception_header">
      <h1>
        {{exception_header}}
      </h1>
    </div>
    <div id="traceback">
{% for frame_info in traceback_info %}
      <div class="frame">
        Module <span class="module_name">{{frame_info.module_name}}</span>:<span class="line_number">{{frame_info.line_number}}</span> in <span class="function_name">{{frame_info.function_name}}</span>
      </div>
{% endfor %}
    </div>
  </body>
</html>
